<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Geometry" publicKeyToken="cadb58b3f6b10f0c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.10" newVersion="2.0.2.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Model" publicKeyToken="2804256ee81d4535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.50" newVersion="1.0.3.50" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>