<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Geometry" publicKeyToken="cadb58b3f6b10f0c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.82" newVersion="2.0.5.82" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Model" publicKeyToken="2804256ee81d4535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6.90" newVersion="1.0.6.90" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelController" publicKeyToken="2804256ee81d4535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.40" newVersion="1.0.7.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Functions" publicKeyToken="65fde98421b2fc88" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.43" newVersion="1.0.2.43" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SceneInterface" publicKeyToken="f4632fed43ef5153" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.50" newVersion="1.0.3.50" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Graph" publicKeyToken="4d6e483d8ec08dd8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.83" newVersion="1.0.1.83" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Model" publicKeyToken="fb50939feb9441b1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.9.41" newVersion="1.0.9.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SceneInterface" publicKeyToken="ecbecc097c57e11f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.21.0" newVersion="1.0.21.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geometry" publicKeyToken="d064922373770c4c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.20" newVersion="2.0.7.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelControllerInterfaces" publicKeyToken="52509cc2c5d48acc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.24" newVersion="1.0.0.24" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ProjectInterfaces" publicKeyToken="9ae675f899beab21" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelInterfaces" publicKeyToken="998e39182864f357" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.18" newVersion="1.0.0.18" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>