<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorSlider" version="1.0.0.15" targetFramework="net48" />
  <package id="Functions" version="1.0.2.44" targetFramework="net48" />
  <package id="Geometry" version="2.0.7.24" targetFramework="net48" />
  <package id="Graph" version="1.0.2.22" targetFramework="net48" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net48" />
  <package id="ModelControllerInterfaces" version="3.0.0.33" targetFramework="net48" />
  <package id="ModelInterfaces" version="3.0.0.18" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="PlayerControl" version="1.0.0.25" targetFramework="net48" />
  <package id="ProjectInterfaces" version="3.0.18" targetFramework="net48" />
  <package id="SceneInterface" version="1.0.31" targetFramework="net48" />
  <package id="System.Drawing.Common" version="8.0.1" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>