<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geometry" publicKeyToken="cadb58b3f6b10f0c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.82" newVersion="2.0.5.82" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Functions" publicKeyToken="65fde98421b2fc88" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.43" newVersion="1.0.2.43" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Model" publicKeyToken="2804256ee81d4535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.50" newVersion="1.0.7.50" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelController" publicKeyToken="2804256ee81d4535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.50" newVersion="1.0.8.50" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SceneInterface" publicKeyToken="f4632fed43ef5153" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.60" newVersion="1.0.3.60" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Project" publicKeyToken="497bc9f20a059f86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.10.52" newVersion="1.0.10.52" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Graph" publicKeyToken="4d6e483d8ec08dd8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Model" publicKeyToken="fb50939feb9441b1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.5" newVersion="3.1.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SceneInterface" publicKeyToken="ecbecc097c57e11f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.47.0" newVersion="1.0.47.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geometry" publicKeyToken="d064922373770c4c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.2" newVersion="2.0.8.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ProjectInterfaces" publicKeyToken="9ae675f899beab21" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.52.0" newVersion="3.1.52.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelInterfaces" publicKeyToken="998e39182864f357" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelControllerInterfaces" publicKeyToken="52509cc2c5d48acc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.4" newVersion="3.0.1.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DataBaseController" publicKeyToken="b37d969f32c093a2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.7" newVersion="1.0.3.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="UserControlsEx" publicKeyToken="16903e6a4b8fab01" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.9.0" newVersion="1.1.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- ... set text scalability ... -->
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>