<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Geometry" version="2.0.7.31" targetFramework="net48" />
  <package id="GmshApi" version="3.0.2.43" targetFramework="net48" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Model" version="3.0.9.36" targetFramework="net48" />
  <package id="ModelController" version="3.0.11.67" targetFramework="net48" />
  <package id="ModelControllerInterfaces" version="3.0.0.55" targetFramework="net48" />
  <package id="ModelInterfaces" version="3.0.0.27" targetFramework="net48" />
  <package id="NetOctree" version="2.1.10" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Project" version="3.0.11.52" targetFramework="net48" />
  <package id="ProjectInterfaces" version="3.0.50" targetFramework="net48" />
  <package id="Results" version="3.0.0.60" targetFramework="net48" />
  <package id="Scene" version="2.0.8.44" targetFramework="net48" />
  <package id="SceneInterface" version="1.0.47" targetFramework="net48" />
  <package id="SurfaceMesherInterfaces" version="1.0.1.15" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Tasks" version="3.0.0.68" targetFramework="net48" />
  <package id="TasksParameters" version="1.0.0.13" targetFramework="net48" />
  <package id="UserControlsEx" version="1.1.1" targetFramework="net48" />
</packages>