<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Geometry" publicKeyToken="cadb58b3f6b10f0c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.82" newVersion="2.0.5.82" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Functions" publicKeyToken="65fde98421b2fc88" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.43" newVersion="1.0.2.43" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Model" publicKeyToken="2804256ee81d4535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.10" newVersion="1.0.7.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelController" publicKeyToken="2804256ee81d4535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.9.30" newVersion="1.0.9.30" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Project" publicKeyToken="497bc9f20a059f86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.20" newVersion="1.0.2.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Model" publicKeyToken="fb50939feb9441b1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.9.70" newVersion="2.0.9.70" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geometry" publicKeyToken="d064922373770c4c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.20" newVersion="2.0.7.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelControllerInterfaces" publicKeyToken="52509cc2c5d48acc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.52" newVersion="2.0.0.52" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ProjectInterfaces" publicKeyToken="9ae675f899beab21" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5.0" newVersion="1.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelInterfaces" publicKeyToken="998e39182864f357" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.42" newVersion="2.0.0.42" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SceneInterface" publicKeyToken="ecbecc097c57e11f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.24.0" newVersion="1.0.24.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>