<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Model" publicKeyToken="380eb3912216145e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.20" newVersion="1.0.3.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geometry" publicKeyToken="cadb58b3f6b10f0c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.50" newVersion="2.0.5.50" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Functions" publicKeyToken="65fde98421b2fc88" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.24" newVersion="1.0.2.24" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Model" publicKeyToken="2804256ee81d4535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5.30" newVersion="1.0.5.30" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelController" publicKeyToken="2804256ee81d4535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.40" newVersion="1.0.7.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SceneInterface" publicKeyToken="f4632fed43ef5153" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.61" newVersion="1.0.3.61" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Model" publicKeyToken="fb50939feb9441b1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.40" newVersion="1.0.8.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>