<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Geometry" version="2.0.7.31" targetFramework="net48" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net48" />
  <package id="Model" version="3.0.9.36" targetFramework="net48" />
  <package id="ModelControllerInterfaces" version="3.0.0.55" targetFramework="net48" />
  <package id="ModelInterfaces" version="3.0.0.27" targetFramework="net48" />
  <package id="NetOctree" version="2.1.10" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="ProjectInterfaces" version="3.0.50" targetFramework="net48" />
  <package id="Scene" version="2.0.8.45" targetFramework="net48" />
  <package id="SceneInterface" version="1.0.47" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="UserControlsEx" version="1.1.1" targetFramework="net48" />
</packages>