<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Functions" version="1.0.2.44" targetFramework="net48" />
  <package id="Geometry" version="2.0.7.26" targetFramework="net48" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net48" />
  <package id="ModelControllerInterfaces" version="3.0.0.47" targetFramework="net48" />
  <package id="ModelInterfaces" version="3.0.0.23" targetFramework="net48" />
  <package id="NetOctree" version="2.1.10" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="ProjectInterfaces" version="3.0.39" targetFramework="net48" />
  <package id="Scene" version="2.0.8.31" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>