<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Geometry" version="2.0.8.4" targetFramework="net48" />
  <package id="GmshApi" version="3.0.4.7" targetFramework="net48" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net48" />
  <package id="Model" version="3.1.2" targetFramework="net48" />
  <package id="ModelControllerInterfaces" version="3.0.2.1" targetFramework="net48" />
  <package id="ModelInterfaces" version="3.0.1.7" targetFramework="net48" />
  <package id="NetOctree" version="2.1.11" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="ProjectInterfaces" version="3.1.68" targetFramework="net48" />
  <package id="Scene" version="2.0.8.52" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TasksParameters" version="1.0.1.13" targetFramework="net48" />
  <package id="UserControlsEx" version="1.2.1" targetFramework="net48" />
</packages>